@{
    ViewBag.Title = "Home-Tamil Nadu Teachers housing pvt Ltd-Real estate";
}

<section id="one-parallax" class="parallax abs home-slider" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
    <div class="container_full">
        <div class="tp-banner-container">

            <div class="tp-banner">

                <ul>
                    <!-- SLIDE 1 -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">

                        <!-- MAIN IMAGE -->
                        <img src="~/Content/assets/images/sliders/revolution/Slider-image3.jpg" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
                        <div class="fadeMe"></div>
                        <div class="tp-caption bigtext sfb"
                             data-x="left"
                             data-hoffset="0"
                             data-voffset="-10"
                             data-y="300"
                             data-speed="800"
                             data-start="1000"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            <strong>PROPERTY FOR EVERYONE</strong>
                        </div>

                        <div class="tp-caption smalltext sfb"
                             data-x="left"
                             data-hoffset="0"
                             data-voffset="-10"
                             data-y="380"
                             data-speed="800"
                             data-start="1600"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            Powerfully Creativity with Professional Clean Developed Themes <br /> We Build Smarter Stuff - Let’s Start an Awesome Project!
                        </div>

                        <div class="tp-caption slider_but1 sfb"
                             data-x="left"
                             data-hoffset="0"
                             data-voffset="-10"
                             data-y="450"
                             data-speed="800"
                             data-start="2200"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            <a href="@Url.Action("index","Project")">KNOW MORE</a>
                        </div>

                    </li>

                    <!-- SLIDE 2 -->
                    <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500">

                        <!-- MAIN IMAGE -->
                        <img src="~/Content/assets/images/sliders/revolution/Slider-image6.jpg" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
                        <div class="fadeMe"></div>
                        <div class="tp-caption bigtext sfb"
                             data-x="left"
                             data-hoffset="0"
                             data-voffset="-10"
                             data-y="300"
                             data-speed="800"
                             data-start="1000"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            <strong>PROPERTY FOR EVERYONE</strong>
                        </div>

                        <div class="tp-caption smalltext sfb"
                             data-x="left"
                             data-hoffset="0"
                             data-voffset="-10"
                             data-y="380"
                             data-speed="800"
                             data-start="1600"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            Powerfully Creativity with Professional Clean Developed Themes <br /> We Build Smarter Stuff - Let’s Start an Awesome Project!
                        </div>

                        <div class="tp-caption slider_but1 sfb"
                             data-x="left"
                             data-hoffset="0"
                             data-voffset="-10"
                             data-y="450"
                             data-speed="800"
                             data-start="2200"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            <a href="@Url.Action("index","Project")">KNOW MORE</a>
                        </div>
                    </li>


                    <!-- SLIDE 3 -->
                    <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500">

                        <!-- MAIN IMAGE -->
                        <img src="~/Content/assets/images/sliders/revolution/Slider-image7.jpg" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
                        <div class="fadeMe"></div>
                        <div class="tp-caption bigtext sfb"
                             data-x="left"
                             data-hoffset="0"
                             data-voffset="-10"
                             data-y="300"
                             data-speed="800"
                             data-start="1000"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            <strong>PROPERTY FOR EVERYONE</strong>
                        </div>

                        <div class="tp-caption smalltext sfb"
                             data-x="left"
                             data-hoffset="0"
                             data-voffset="-10"
                             data-y="380"
                             data-speed="800"
                             data-start="1600"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            Powerfully Creativity with Professional Clean Developed Themes <br /> We Build Smarter Stuff - Let’s Start an Awesome Project!
                        </div>

                        <div class="tp-caption slider_but1 sfb"
                             data-x="left"
                             data-hoffset="0"
                             data-voffset="-10"
                             data-y="450"
                             data-speed="800"
                             data-start="2200"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            <a href="@Url.Action("index","Project")">KNOW MORE</a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

    </div><!-- end slider -->
  
</section><!-- end mapandslider -->
<div class="clearfix"></div>
<section class="generalwrapper dm-shadow ash clearfix pv-30">
    <div class="container">
        <div class="row text-center">
            <h2 class="big_title blu">Tamil Nadu Teachers Housing & Welfare Trust</h2>
            <div class="services_section clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="blu mb-30">TamilNadu Teachers Housing and Welfare Trust is formed by Teachers Community with the object to unite the entire community of teachers whether School, College or Technical Institution, Arts, Science or Craft irrespective of Grade such as Secondary, Graduate, P.G., B.Ed., etc.,</p>
                    <a class="bbtn" href="@Url.Action("overview","Home")">KNOW MORE</a>
                </div>
            </div>
            <div class="services_section mv-50 clearfix">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="servicebox">
                        <div class="service-icon">
                            <div class="dm-icon-effect-1" data-effect="slide-bottom">
                                <a href="@Url.Action("index","Project")" class=""><i class="hovicon effect-1 sub-a fa fa-users fa-2x"></i></a>
                            </div>
                        </div>
                        <div class="servicetitle">
                            <h3>ONGOING PROJECTS</h3>
                        </div>
                        <p class="blu">Our Ongoing projects is aimed to improve the Standard of Living of the teaching community by offering Plots, Row Houses, Villas, Apartment at the barest minimum rate with quality deliverables. </p>
                        <a class="bbtn1" href="@Url.Action("index","Project")">KNOW MORE</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="servicebox">
                        <div class="service-icon">
                            <div class="dm-icon-effect-1" data-effect="slide-bottom">
                                <a href="@Url.Action("mission_statement","Home")" class=""> <i class="hovicon effect-1 sub-a fa fa-user fa-2x"></i> </a>
                            </div>
                        </div>
                        <div class="servicetitle">
                            <h3>CHAIRMAN MESSAGE</h3>
                        </div>
                        <p class="blu">Teachers are the building blocks of the society – a dedicated lot who contributed their youthful & experienced shinning years in building the society brick by brick.</p>
                        <a class="bbtn1" href="@Url.Action("mission_statement","Home")">KNOW MORE</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="servicebox last">
                        <div class="service-icon">
                            <div class="dm-icon-effect-1" data-effect="slide-bottom">
                                <a href="@Url.Action("CompletedProject","Project")" class=""> <i class="hovicon effect-1 sub-a fa fa-building fa-2x"></i> </a>
                            </div>
                        </div>
                        <div class="servicetitle">
                            <h3>COMPLETED PROJECTS</h3>
                        </div>
                        <p class="blu">Complete Design and implementation of plots in various location with all facilities, these projects will help the teachers community to grow and become better suited for the future. </p>
                        <a class="bbtn1" href="@Url.Action("CompletedProject","Project")">KNOW MORE</a>
                    </div>
                </div>
            </div><!-- services_section -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end generalwrapper -->
<section id="three-parallax" class="parallax">
    <div class="threewrapper">
        <div class="dm-shadow">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-20 pb-20">
                        <h2 class="big_title fff center">VALUE ADDED SERVICE</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <div class="service-icon">
                            <div class="dm-icon-effect-1" data-effect="slide-bottom">
                                <a href="@Url.Action("Land_Survey_and_Feasibility","Service")" class=""><i class="hovicon icn effect-1 sub-a fa fa-signal fa-2x"></i></a>
                            </div>
                        </div>
                        <div class="servicetitles">
                            <h3><a class="ica" href="@Url.Action("Land_Survey_and_Feasibility","Service")">Land Survey and Feasibility</a></h3>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="service-icon">
                            <div class="dm-icon-effect-1" data-effect="slide-bottom">
                                <a href="" class=""><i class="hovicon icn effect-1 sub-a fa fa-legal fa-2x"></i></a>
                            </div>
                        </div>
                        <div class="servicetitles">
                            <h3><a class="ica" href="">Legal & Liaison</a></h3>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="service-icon">
                            <div class="dm-icon-effect-1" data-effect="slide-bottom">
                                <a href="@Url.Action("loan_support","Service")" class=""><i class="hovicon icn effect-1 sub-a fa fa-money fa-2x"></i></a>
                            </div>
                        </div>
                        <div class="servicetitles">
                            <h3><a class="ica" href="@Url.Action("loan_support","Service")">Loan Support</a></h3>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="service-icon">
                            <div class="dm-icon-effect-1" data-effect="slide-bottom">
                                <a href="@Url.Action("architectural_design","Service")" class=""><i class="hovicon icn effect-1 sub-a fa fa-building-o fa-2x"></i></a>
                            </div>
                        </div>
                        <div class="servicetitles">
                            <h3><a class="ica" href="@Url.Action("architectural_design","Service")">Architectural Design</a></h3>
                        </div>
                    </div>
                </div><!-- end row -->
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <div class="service-icon">
                            <div class="dm-icon-effect-1" data-effect="slide-bottom">
                                <a href="@Url.Action("construction_support","Service")" class=""><i class="hovicon icn effect-1 sub-a fa fa-wrench fa-2x"></i></a>
                            </div>
                        </div>
                        <div class="servicetitles">
                            <h3><a class="ica" href="@Url.Action("construction_support","Service")">Construction Support</a></h3>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="service-icon">
                            <div class="dm-icon-effect-1" data-effect="slide-bottom">
                                <a href="@Url.Action("resell_property","Service")" class=""><i class="hovicon icn effect-1 sub-a fa fa-key fa-2x"></i></a>
                            </div>
                        </div>
                        <div class="servicetitles">
                            <h3><a class="ica" href="@Url.Action("resell_property","Service")">Re-Sell Your Property</a></h3>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="service-icon">
                            <div class="dm-icon-effect-1" data-effect="slide-bottom">
                                <a href="@Url.Action("NRI_services","Service")" class=""><i class="hovicon icn effect-1 sub-a fa fa-flag-checkered fa-2x"></i></a>
                            </div>
                        </div>
                        <div class="servicetitles">
                            <h3><a class="ica" href="@Url.Action("NRI_services","Service")">NRI Services</a></h3>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="service-icon">
                            <div class="dm-icon-effect-1" data-effect="slide-bottom">
                                <a href="" class=""><i class="hovicon icn effect-1 sub-a fa fa-tasks fa-2x"></i></a>
                            </div>
                        </div>
                        <div class="servicetitles">
                            <h3><a class="ica" href="">Others</a></h3>
                        </div>
                    </div>

                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end overlay1 -->
    </div><!-- end threewrapper -->
</section><!-- end parallax -->
<section class="sell">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 center">
                <form action="http://www.tnteacherstrust.org/newsletter-thank-you" id="news_form" method="post">
                    <div id="home_news_table">
                        <div class="col-sm-6 col-xs-12 center">
                            <span class="big_title">Subscribe For Our Newsletter</span>
                        </div>
                        <div class="col-sm-4 col-xs-12 center">
                            <input type="text" name="news_mail" class="txtb" style="width:300px;" placeholder="Enter Your Email Id" required>
                        </div>
                        <div class="col-sm-2 col-xs-12 center">
                            <button type="submit" name="smt_newsletter" style="margin:0px;" class="bbtn2">SUBSCRIBE</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
