
@{
    ViewBag.Title = "TN TEACHERS TRUST | Chennai | Coimbatore | Vilupuram | Chengalpattu";
}

<style>
    .content_left {
      float: left;
      width: 71%;
      padding: 59px 0px 0px 0px;
    }
    .right_sidebar {
      float: right;
      width: 25%;
      padding: 59px 0px 0px 0px;
    }
    /* features section 18 */
.features_sec18 {
	float: left;
	width: 100%;
	padding: 70px 0px 70px 0px;
}
.features_sec18 ul {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.features_sec18 li {
	padding: 0px;
	margin: 0px;
}
.features_sec18 li h3 {
	margin-bottom: 5px;
}
.features_sec18 li.icon {
	float: left;
	width: 14%;
	color: #fc4242;
	font-size: 35px;
}
.features_sec18 li.text {
	float: left;
	width: 86%;
}
.features_sec18 li.icon2 {
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 18px;
	color: #fff;
	font-size: 35px;
	border-radius: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 38px;
	font-size: 27px;
	background-color: #fc4242;
}
.features_sec18 li.text2 {
	float: left;
	width: 84%;
}

</style>
<div class="clearfix"></div>

<!-- Contant
======================================= -->

<section class="post-wrapper-top dm-shadow clearfix">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <ul class="breadcrumb">
                <li>@Html.ActionLink("Home", "index", "Home", null, new { @style = "color:white" })</li>
                <li>VAS</li>
            </ul>
            <h2>Value Added Services</h2>
        </div>
    </div>
</section>

<div class="container">

    <div class="content_left">

        <div class="features_sec18" style="padding-top:0px;">
            <!-- <h2 class="section_title_drakgray" style="text-align:center;"><strong>what</strong> we offer</h2>
            <div class="clearfix divider_dashed7"></div> -->
            <div class="one_half">
                <ul>
                    <li class="icon"><i class="fa fa-signal"></i></li>
                    <li class="text">
                        <h4 class="nocaps"><a href="@Url.Action("Land_Survey_and_Feasibility","Service")">Land Survey and Feasibility</a></h4>
                        <p style="margin-bottom:0px;">Land survey is an instrument that specifies precise property boundaries. It is useful in determining if boundary violations (encroachments) exist. We provide consulting services that supports the art and science of Land Surveying.</p>
                        <p style="font-size:12px;font-style:italic;text-align:right; padding-top:0px;"><a href="@Url.Action("Land_Survey_and_Feasibility","Service")">-- Read More</a></p>
                    </li>
                </ul>
                <ul>
                    <li class="icon"><i class="fa fa-legal"></i></li>
                    <li class="text">
                        <h4 class="nocaps"><a href="">Legal & Liaison</a></h4>
                        <p style="margin-bottom:0px;">With the help of our empaneled legal experts we can assist you in all your property related legal requirements. The rich expertise we have gained in handling complicated property matters will be put to use in finding appropriate solutions.</p>
                        <p style="font-size:12px;font-style:italic;text-align:right; padding-top:0px;"><a href="">-- Read More</a></p>
                    </li>
                </ul>
                <ul>
                    <li class="icon"><i class="fa fa-money"></i></li>
                    <li class="text">
                        <h4 class="nocaps"><a href="@Url.Action("loan_support","Service")">Loan Support</a></h4>
                        <p style="margin-bottom:0px;">We have tie up with leading financial institutions like SBI which provides various loan schemes for Plot/Land Purchase. We assist our customers in getting through all sorts of documentation process so as to enable them to have easy access in initiating their procedural routines</p>
                        <p style="font-size:12px;font-style:italic;text-align:right; padding-top:0px;"><a href="@Url.Action("loan_support","Service")">-- Read More</a></p>
                    </li>
                </ul>
                <ul>
                    <li class="icon"><i class="fa fa-building-o"></i></li>
                    <li class="text">
                        <h4 class="nocaps"><a href="@Url.Action("architectural_design","Service")">Architectural Design</a></h4>
                        <p style="margin-bottom:0px;">We offer various state-of-the-art architectural design consultation services for various projects. Our services include</p>
                        <p style="font-size:12px;font-style:italic;text-align:right; padding-top:0px;"><a href="@Url.Action("architectural_design","Service")">-- Read More</a></p>
                    </li>
                </ul>
            </div><!-- end section -->

            <div class="one_half last">

                <ul>
                    <li class="icon"><i class="fa fa-wrench"></i></li>
                    <li class="text">
                        <h4 class="nocaps"><a href="@Url.Action("construction_support","Service")">Construction Support</a></h4>
                        <p style="margin-bottom:0px;">We offer Construction related services to monitor the ongoing projects periodically and evaluate the performance and generate report on timely basis. Services are</p>
                        <p style="font-size:12px;font-style:italic;text-align:right; padding-top:0px;"><a href="@Url.Action("construction_support","Service")">-- Read More</a></p>
                    </li>
                </ul>
                <ul>
                    <li class="icon"><i class="fa fa-key"></i></li>
                    <li class="text">
                        <h4 class="nocaps"><a href="@Url.Action("resell_property","Service")">Re-Sell Your Property</a></h4>
                        <p style="margin-bottom:0px;">We also provide property re-sale services focusing on Plots/Land units that are being sold by original owners.These are legally pre-vetted to ensure a clear title and physically inspected before being offered for sale.</p>
                        <p style="font-size:12px;font-style:italic;text-align:right; padding-top:0px;"><a href="@Url.Action("resell_property","Service")">-- Read More</a></p>
                    </li>
                </ul>
                <ul>
                    <li class="icon"><i class="fa fa-flag-checkered"></i></li>
                    <li class="text">
                        <h4 class="nocaps"><a href="@Url.Action("NRI_services","Service")">NRI Services</a></h4>
                        <p style="margin-bottom:0px;">Our NRI Cell offer various kinds of services to take care of Customers who are staying abroad and feel difficult to make arrangements to purchase property in India.</p>
                        <p style="font-size:12px;font-style:italic;text-align:right; padding-top:0px;"><a href="@Url.Action("NRI_services","Service")">-- Read More</a></p>
                    </li>
                </ul>
                
            </div><!-- end section -->

        </div>

    </div>

    <div class="right_sidebar">
        <div class="clientsays_widget">

            <div class="sidebar_title"><h3>Happy <i>Client Say's</i></h3></div>
            <img src="~/Content/assets/images/tnt_logo_thumb.jpg" alt="">
            <strong>- Mr. Gavaskar, technical lead</strong><p>The service is excellent and the personnel I work with are great. No request is out of the question and usually can be accomodated within the current budget and in a reasonable timeframe. Very responsive team and easy company to work with. I enjoy our ongoing partnership.</p>

        </div>
        <div class="clearfix margin_top4"></div>
        <div class="sidebar_widget">
            <div class="sidebar_title">
                <h3>
                    <a href="">
                        <img src="~/Content/assets/images/downloads.png" />
                    </a>
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="clearfix margin_top5"></div>


