
@{
    ViewBag.Title = "TN TEACHERS TRUST | Chennai | Coimbatore | Vilupuram | Chengalpattu";
}
<section class="post-wrapper-top dm-shadow clearfix">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <ul class="breadcrumb">
                <li>@Html.ActionLink("Home", "index", "Home", null, new { @style = "color:white" })</li>
                <li>Project</li>
                <li>Ongoing</li>
            </ul>
            <h2>Ongoing</h2>
        </div>
    </div>
</section><!-- end post-wrapper-top -->

<section class="generalwrapper dm-shadow clearfix">
    <div class="container">
        <div class="col-xs-12 pv-10">
        </div>
    </div>
</section>

        <section class="generalwrapper dm-shadow clearfix">
            <div class="container">
                <div class="row">

                    <div id="content" class="col-lg-9 col-md-9 col-sm-8 col-xs-12 clearfix">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopad project-box properties-rows clearfix">
                            <div class="filter">
                                <ul class="project-list-view">
                                    <li><a href="@Url.Action("index","Project")"><img src="~/Content/assets/images/list-page-icon.png" /></a></li>
                                </ul>
                            </div><!-- /.filter -->
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                            <div id="updateResultDiv">

                                <div class="row project-list-row">
                                    <div class="table-style">
                                        <table class="table-list">
                                            <tbody>
                                                <tr>
                                                    <th>Location</th>
                                                    <th>Project Name</th>
                                                    <th>Units</th>
                                                    <th>Available</th>
                                                    <th>Action</th>
                                                </tr>
                                                <tr>
                                                    <td>Hosur , Kelamangala Road</td>
                                                    <td>Teachers EDU CITY Hosur</td>
                                                    <td style="width:120px;">
                                                        <span class="area first">
                                                            <strong>
                                                                <i class="icon-sqft"></i>
                                                                Plots : 1500 | Villas : 1500
                                                            </strong>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span><a>Only Plots</a>, <a>Villas</a></span>
                                                    </td>
                                                    <td style="width:115px;">
                                                        <a href="@Url.Action("ongoing","Project",new { productname="Teachers-EDU-City-at-KELAMANGALAGALA-in-HOSUR-Denkanikota-Taluk",id = "55" })">
                                                            <button class="button_black right-btn">View More</button>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Illuppur Village, Pudukkottai Dt ,Project Location:Tirchy Viralimalai-illupur-Pudukkottai Road </td>
                                                    <td>Teachers Sri Rajarajeshwari Township - Farm Plots               :</td>
                                                    <td style="width:120px;">
                                                        <span class="area first">
                                                            <strong>
                                                                <i class="icon-sqft"></i>
                                                                Plots : 253
                                                            </strong>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span><a>Only Plots</a>,</span>
                                                    </td>
                                                    <td style="width:115px;">
                                                        <a href="@Url.Action("ongoing","Project",new { productname="Teachers-Sri-Rajarajeshwari-Township-illupur-Near-Farm-plots-Tirchy",id = "54" })">
                                                            <button class="button_black right-btn">View More</button>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Illuppur Village, Pudukkottai Dt ,Project Location:Tirchy Viralimalai-illupur-Pudukkottai Road</td>
                                                    <td>Teachers Sri Rajarajeshwari Township - Housing (Flats & Villas)</td>
                                                    <td style="width:120px;">
                                                        <span class="area first">
                                                            <strong>
                                                                <i class="icon-sqft"></i>
                                                                Apartments : 322 | Villas : 83
                                                            </strong>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span> <a>Apartments</a>, <a>Villas</a></span>
                                                    </td>
                                                    <td style="width:115px;">
                                                        <a href="@Url.Action("ongoing","Project",new { productname="Teachers-Sri-Rajarajeshwari-Township-illupur-Near-Flats-Villas-Tirchy",id = "53" })">
                                                            <button class="button_black right-btn">View More</button>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Chengalpet ,Nemeli Village</td>
                                                    <td>Chengalpet Teachers Colony Extn II</td>
                                                    <td style="width:120px;">
                                                        <span class="area first">
                                                            <strong>
                                                                <i class="icon-sqft"></i>
                                                                Row House : 102 | Villas : 102
                                                            </strong>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span> <a>Row Houses</a>, <a>Villas</a></span>
                                                    </td>
                                                    <td style="width:115px;">
                                                        <a href="@Url.Action("ongoing","Project",new { productname="Chengalpet-Teachers-Colony-Extn-II",id = "42" })">
                                                            <button class="button_black right-btn">View More</button>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Coimbatore ,Perur Chettipalayam</td>
                                                    <td>Covai Teachers Colony-Plots</td>
                                                    <td style="width:120px;">
                                                        <span class="area first">
                                                            <strong>
                                                                <i class="icon-sqft"></i>
                                                                Plots : 120
                                                            </strong>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span><a>Only Plots</a>,</span>
                                                    </td>
                                                    <td style="width:115px;">
                                                        <a href="@Url.Action("ongoing","Project",new { productname="Covai-Teachers-Colony---Plots",id = "41" })">
                                                            <button class="button_black right-btn">View More</button>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Coimbatore ,Periyanaicken Palayam</td>
                                                    <td>Teachers Zen Meadows</td>
                                                    <td style="width:120px;">
                                                        <span class="area first">
                                                            <strong>
                                                                <i class="icon-sqft"></i>
                                                                Plots : 34
                                                            </strong>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span><a>Only Plots</a>,</span>
                                                    </td>
                                                    <td style="width:115px;">
                                                        <a href="@Url.Action("ongoing","Project",new { productname="Teachers-Zen-Meadows",id = "40" })">
                                                            <button class="button_black right-btn">View More</button>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Coimbatore ,Saibaba Colony</td>
                                                    <td>Teachers Ice Tovarno</td>
                                                    <td style="width:120px;">
                                                        <span class="area first">
                                                            <strong>
                                                                <i class="icon-sqft"></i>
                                                                Apartments : 28
                                                            </strong>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span> <a>Apartments</a>,</span>
                                                    </td>
                                                    <td style="width:115px;">
                                                        <a href="@Url.Action("ongoing","Project",new { productname="Teachers-Ice-Tovarno",id = "39" })">
                                                            <button class="button_black right-btn">View More</button>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Coimbatore ,Perur Chettipalayam</td>
                                                    <td>Covai Teachers Colony - Housing</td>
                                                    <td style="width:120px;">
                                                        <span class="area first">
                                                            <strong>
                                                                <i class="icon-sqft"></i>
                                                                Row House : 18 | Villas : 36
                                                            </strong>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span> <a>Row Houses</a>, <a>Villas</a></span>
                                                    </td>
                                                    <td style="width:115px;">
                                                        <a href="@Url.Action("ongoing","Project",new { productname="Covai-Teachers-Colony---Housing",id = "38" })">
                                                            <button class="button_black right-btn">View More</button>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <hr>
                                <!-- <div id="more" class="searchmore" style="margin-top: 20px;">
                                    <a id="5" class="load_more searchmorebtn" href="#"> Show More projects<i class="fa fa-chevron-down"></i></a>
                                </div> -->
                            </div>
                        </div>
                    </div><!-- end content -->

                    <div id="right_sidebar" class="col-lg-3 col-md-4 col-sm4 col-xs-12 clearfix">
                        <div class="property-filter widget">
                            <div class="content">
                                <form method="get" action="">
                                    <div class="type control-group">
                                        <label class="control-label" for="inputType">
                                            Status
                                        </label>
                                        <div class="controls">
                                            <select id="inputType" name="sts">
                                                <option value="0">Any</option>
                                                <option value="1">Ongoing</option>
                                                <option value="2">Completed</option>
                                            </select>
                                        </div><!-- /.controls -->
                                    </div><!-- /.control-group -->
                                    <!-- <div class="type control-group">
                                        <label class="control-label" for="inputType">
                                            Types
                                        </label>
                                        <div class="controls">
                                            <select id="inputType" name="inputType">
                                                <option value="0">Any</option>
                                                <option value="2">Plots</option>
                                                 <option value="3">Row Houses</option>
                                                <option value="4">Apartments</option>
                                            </select>
                                        </div>
                                    </div><!-- /.control-group -->
                                </form>
                            </div><!-- /.content -->
                        </div><!-- /.property-filter -->

                        <div class="widget clearfix">
                            <h2>Recent Projects</h2>
                            <div class="projuctslider">
                                <ul id="demo1" class="slides">
                                    <li>
                                        <a href="/project/Covai-Teachers-Colony-Housing/38"><img src="/assets/images/sliders/revolution/tnt_302985.jpg" /></a>
                                        <!--Slider Description example-->
                                        <div class="slide-desc">
                                            <h2>Covai Teachers Colony - Housing</h2>
                                            <p><a href="/project/Covai-Teachers-Colony-Housing/38" class="more">more</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="/project/Teachers_Ice_Tovarna/39"><img src="/assets/images/sliders/revolution/tnt_saibaba_colony_big.jpg" /></a>
                                        <!--Slider Description example-->
                                        <div class="slide-desc">
                                            <h2>Teachers Ice Tovarna</h2>
                                            <p><a href="/project/Teachers_Ice_Tovarna/39" class="more">more</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="/project/Covai-Teachers-Colony-Only-Plots/41"><img src="/assets/images/sliders/revolution/tnt_308285.jpg" /></a>
                                        <!--Slider Description example-->
                                        <div class="slide-desc">
                                            <h2>Covai Teachers Colony - Only Plots</h2>
                                            <p><a href="/project/Covai-Teachers-Colony-Only-Plots/41" class="more">more</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div><!-- #right_sidebar -->

                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end generalwrapper -->

