
@{
    ViewBag.Title = "Teachers Sri Rajarajeshwari Township Illupur Near Tirchy-Flats-Villas";
    ViewBag.PageInfo = "Project Details-Sri Rajarajeshwari-Flats";
    
}

@section projectdesc
{

    <link href="@Url.Content("~/Content/assets/css/custom.css")" rel="stylesheet")>
    
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/flexslider.css")">
   	<!-- cubeportfolio -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/js/cubeportfolio/cubeportfolio.min.css")">
	<!-- tabs -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/js/tabs//assets/css/responsive-tabs3.css")">
	<!-- carousel -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/js/carousel/flexslider.css")" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/js/carousel/skin.css")" />
	<!-- progressbar -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/js/progressbar/ui.progress-bar.css")">
    <!-- accordion -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/js/accordion/accordion.css")" type="text/css" media="all">
    <!-- Lightbox -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/js/lightbox/jquery.fancybox.css")" media="screen" />
}

<style>
    .cbp-l-grid-projects-title {
        font-weight: 600;
        text-align: center;
    }

    #resp_table_style td {
        padding: 5px;
    }

        #resp_table_style td:first-child {
            border: 0px;
        }

        #resp_table_style td:last-child {
            padding-left: 10px;
        }
</style>



<div class="clearfix"></div>

<div class="">
    <div class="container">
        <div class="row">
            <div id="content" class="col-lg-9 col-md-9 col-sm-8 col-xs-12 clearfix" style="padding-top:20px;">
                <div class="property_wrapper boxes clearfix">

                    <div class="title">
                        <h3>
                            Teachers Sri Rajarajeshwari Township - Housing (Flats & Villas),Project Location:Tirchy Viralimalai-illupur-Pudukkottai Road
                            <small class="small_title" style="font-weight:500; text-transform:none; font-size:11px;">Local Office: No.116 B, SR Complex, Bharathiyar Salai, Cantonment,Project Location:Tirchy Viralimalai-illupur-Pudukkottai Road,Illuppur Village, Pudukkottai Dt,Tamilnadu</small>
                        </h3>
                    </div><!-- end title -->

                    <div class="col-lg-12 col-md-12 col-xs-12 nopad clearfix">
                        <div class="boxes_img">
                            <div id="slider" class="flexslider clearfix">
                                <ul class="slides">
                                    <li><img class="img-thumbnail" src="~/Content/assets/images/gallery/tnt_111017.png" alt=""></li>
                                </ul>
                            </div>

                        </div><!-- boxes_img -->

                    </div>
                    <hr>

                    <div class="property_desc clearfix">
                        <h2 class="btl">AVAILABLE PROJECT TYPE DETAILS</h2>

                        <div class="table-style">
                            <table class="table-list">
                                <tbody>
                                    <tr>
                                        <th>Type</th>
                                        <th>Blocks</th>
                                        <th>BHKS</th>
                                        <th>Floors</th>
                                        <th>Sizes</th>
                                        <th>Price</th>
                                    </tr>
                                    <tr>
                                        <td>Apartments</td>
                                        <td>NA</td>
                                        <td>1,2,3</td>
                                        <td>NA</td>
                                        <td>276 Sq.ft - 1127 Sq.ft</td>
                                        <td>6.5 Lakhs - 34 Lakhs</td>
                                    </tr>
                                    <tr>
                                        <td>Villas</td>
                                        <td>NA</td>
                                        <td>2,3</td>
                                        <td>NA</td>
                                        <td>804 Sq.ft - 1158 Sq.ft</td>
                                        <td>28.5 Lakhs - 47.60 Lakhs </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    <div class="property_desc clearfix">
                        <h2 class="btl">ABOUT PROJECT</h2>
                        <div id="resp_table_style">
                            <table class="table-list" style="height: 59px; margin-left: auto; margin-right: auto;" width="602">
                                <tbody>
                                    <tr>
                                        <th style="text-align: center;">No.</th>
                                        <th style="text-align: center;">Property Types</th>
                                        <th style="text-align: center;">No Of Units</th>
                                        <th style="text-align: center;">Built Up Area</th>
                                        <th style="text-align: center;">
                                            <p>Price</p>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;">1</td>
                                        <td style="text-align: center;">Studio</td>
                                        <td style="text-align: center;">84 Units</td>
                                        <td style="text-align: center;">276 Sq.ft - 287&nbsp;Sq.ft</td>
                                        <td style="text-align: center;">
                                            <p>6.5 Lakhs - 6.75 Lakhs</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;">2</td>
                                        <td style="text-align: center;">1 BHK</td>
                                        <td style="text-align: center;">77 Units</td>
                                        <td style="text-align: center;">354&nbsp;Sq.ft - 470&nbsp;Sq.ft</td>
                                        <td style="text-align: center;">
                                            <p>8.98 Lakhs - 13.52&nbsp;Lakhs</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;">3</td>
                                        <td style="text-align: center;">2 BHK</td>
                                        <td style="text-align: center;">72 Units</td>
                                        <td style="text-align: center;">524&nbsp;Sq.ft - 596&nbsp;Sq.ft</td>
                                        <td style="text-align: center;">
                                            <p>13.25 Lakhs&nbsp;- 17.15 Lakhs</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;">4</td>
                                        <td style="text-align: center;">Retirement Community</td>
                                        <td style="text-align: center;">18 Units</td>
                                        <td style="text-align: center;">610 Sq.ft - 689&nbsp;Sq.ft</td>
                                        <td style="text-align: center;">
                                            <p>21.30 Lakhs - 24.01 Lakhs</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;">5</td>
                                        <td style="text-align: center;">2 BHK Luxury</td>
                                        <td style="text-align: center;">34 Units</td>
                                        <td style="text-align: center;">733&nbsp;Sq.ft - 770&nbsp;Sq.ft</td>
                                        <td style="text-align: center;">
                                            <p>18.42 Lakhs - 22.08 Lakhs</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;">6</td>
                                        <td style="text-align: center;">3 BHK Luxury</td>
                                        <td style="text-align: center;">36 Units</td>
                                        <td style="text-align: center;">1080&nbsp;Sq.ft -1127&nbsp;Sq.ft</td>
                                        <td style="text-align: center;">
                                            <p>32.50 Lakhs - 33.90 Lakhs</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;">7</td>
                                        <td style="text-align: center;">Villa 2 BHK</td>
                                        <td style="text-align: center;">43 Units</td>
                                        <td style="text-align: center;">804&nbsp;Sq.ft - 829&nbsp;Sq.ft</td>
                                        <td style="text-align: center;">
                                            <p>28.55 Lakhs - 40.77 Lakhs</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;">8</td>
                                        <td style="text-align: center;">Villa 3 BHK</td>
                                        <td style="text-align: center;">40 Units</td>
                                        <td style="text-align: center;">1131&nbsp;Sq.ft - 1158&nbsp;Sq.ft</td>
                                        <td style="text-align: center;">
                                            <p>35.40 Lakhs - 47.67 Lakhs</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="property_desc clearfix">
                        <h2 class="btl">SPECIFICATIONS</h2>
                        <div id="resp_table_style">
                            <div><strong>STRUCTURE</strong></div>
                            <div>
                                <ul>
                                    <li>R.C.C Structure.</li>
                                </ul>
                                <strong>SUPER STRUCTURE</strong>
                                <ul>
                                    <li>R.C.C Load bearing walls &amp; slabs. All outer walls 0&rsquo;6&rdquo; thickness and partition walls 0&rsquo;4&rdquo; thickness.</li>
                                </ul>
                                <strong>DOORS</strong>
                                <ul>
                                    <li>Main door: Treated solid country wood frame with teak finished skin door.</li>
                                    <li>Internal door: Poraxi treated flush doors.</li>
                                    <li>Toilet doors: PVC framed door.</li>
                                </ul>
                                <strong>WINDOWS &amp; VENTILATORS</strong>
                                <ul>
                                    <li>Aluminium /GI powder coated windows with MS grills and necessary fittings.</li>
                                </ul>
                                <strong>FLOORING</strong>
                                <ul>
                                    <li>300mm x 300mm Johnson or equivalent ISI standard ceramic/vitrified tiles for hall, bed &amp; kitchen.</li>
                                    <li>Anti-skid tiles for bathroom, toilet &amp; service area.</li>
                                    <li>Johnson or equivalent ISI standard Glazed tiles of 200mm x 300mm for bath &amp; toilet walls.</li>
                                </ul>
                                <strong>KITCHEN</strong>
                                <ul>
                                    <li>Kitchen Platform with cuddapah/granite slab with stainless steel wash.</li>
                                </ul>
                                <strong>PLUMBING &amp; SANITARY FITTINGS</strong>
                                <ul>
                                    <li>Concealed plumbing lines and all closets and wash basins will be of Jaguar or equivalent brand of ISI standards.</li>
                                    <li>EWC Closets at all toilets.</li>
                                    <li>All tap fittings will be of good quality branded items.</li>
                                </ul>
                                <strong>ELECTRICAL</strong>
                                <ul>
                                    <li>Sufficient points will be provided with concealed wiring switches, plug &amp; sockets will be of Anchor or Havells or equivalent ISI standard.</li>
                                    <li>Single Phase supply will be provided for Single Bed Room and from Double Bed Room onwards Three Phase supply will be provided.</li>
                                </ul>
                                <strong>PAINTING</strong>
                                <ul>
                                    <li>Interior : One coat of Primer and Two coats of distemper of approved make like Asian paints, Nerolac, or equivalent ISI standard paints.</li>
                                    <li>Exterior : Waterproof cement paint of Asian paints, Nerolac or equivalent ISI standard paints with approved colour.</li>
                                </ul>
                                <h3><strong>VILLA</strong></h3>
                                <strong>STRUCTURE</strong>
                                <ul>
                                    <li>R.C.C Structure.</li>
                                </ul>
                                <strong>SUPER STRUCTURE</strong>
                                <ul>
                                    <li>R.C.C Load bearing walls &amp; slabs. All outer walls 0&rsquo;6&rdquo; thickness and partition walls 0&rsquo;4&rdquo; thickness.</li>
                                </ul>
                                <strong>DOORS</strong>
                                <ul>
                                    <li>Main door: Treated solid country wood frame with teak finished skin door.</li>
                                    <li>Internal door: Poraxi treated flush doors.</li>
                                    <li>Toilet doors: PVC framed door.</li>
                                </ul>
                                <strong>WINDOWS &amp; VENTILATORS</strong>
                                <ul>
                                    <li>UPVC windows with MS grills and necessary fittings.</li>
                                </ul>
                                <strong>FLOORING</strong>
                                <ul>
                                    <li>600mm x 600mm Johnson or equivalent ISI standard ceramic/vitrified tiles for hall, bed &amp; kitchen.</li>
                                    <li>Anti-skid tiles for bathroom, toilet &amp; service area.</li>
                                    <li>Johnson or equivalent ISI standard Glazed tiles of 300mm x 450mm for bath &amp; toilet walls upto 7 &ldquo;0&rdquo; height.</li>
                                </ul>
                                <strong>KITCHEN</strong>
                                <ul>
                                    <li>Kitchen Platform with cuddapah/granite slab with stainless steel wash.</li>
                                </ul>
                                <strong>PLUMBING &amp; SANITARY FITTINGS</strong>
                                <ul>
                                    <li>Concealed plumbing lines and all closets and wash basins will be of Jaguar or equivalent brand of ISI standards.</li>
                                    <li>EWC Closets at all toilets.</li>
                                    <li>All tap fittings will be of good quality branded items.</li>
                                </ul>
                                <strong>ELECTRICAL</strong>
                                <ul>
                                    <li>Sufficient points will be provided with concealed wiring switches, plug &amp; sockets will be of Anchor or Havells or equivalent ISI standard.</li>
                                    <li>Three Phase supply will be provided.</li>
                                </ul>
                                <strong>PAINTING</strong>
                                <ul>
                                    <li>Interior : One coat of Primer and Two coats of emulsion of approved make like Berger, Nerolac, or equivalent ISI standard paints.</li>
                                    <li>Exterior : One coat of Primer &amp; Two Coats of emulsion Berger , Nerolac or equivalent ISI standard paints with approved colour.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="property_desc clearfix">
                        <h2 class="btl">Landmark Details</h2>
                        <p>
                            <ul>
                                <li>40 min drive from Trichy</li>
                                <li>35 mins drive from Trichy Airport</li>
                                <li>35 min drive from Bharathidasan University</li>
                            </ul>
                            <h3><strong>Recreational</strong></h3>
                            <ul>
                                <li>6 Landscaped parks</li>
                                <li>60 ft wide main road and 40 / 30 ft wide inner roads</li>
                                <li>Street lighting</li>
                                <li>Tree lined avenues with manicured greenery on side walks</li>
                                <li>Parks for children to play</li>
                                <li>Club House with swimming pool, gym, card room etc.</li>
                                <li>Sewage treatment plant</li>
                                <li>24 hours&rsquo; water supply</li>
                            </ul>
                            <h3><strong>Amenities</strong></h3>
                            <ul>
                                <li>24 X 7 Drinking Water</li>
                                <li>Shuttle Bus Service</li>
                                <li>ATM</li>
                                <li>Temple</li>
                                <li>Shopping Mall</li>
                                <li>Maharish Vidya Mandir CBSE School</li>
                                <li>60/40/30" Wide Roads</li>
                                <li>6 Landscaped Parks</li>
                                <li>Meditation Hall</li>
                                <li>Kids Play Area</li>
                                <li>Hospital</li>
                                <li>Marriage Hall</li>
                            </ul>
                        </p>
                    </div>

                    <hr>

                    <div class="property_desc clearfix">
                        <h2 class="btl">NEAR BY</h2>
                        <div id="amenities">
                            <div class="additional-amenities">
                                <span class="available"><i class="fa fa-check-square"></i> Maharishi Vidya Mandir, Illupur : 1Kms</span>
                                <span class="available"><i class="fa fa-check-square"></i> Bharathidasan University : 35Kms</span>
                                <span class="available"><i class="fa fa-check-square"></i> Trichy : 80Kms</span>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="property_desc clearfix">
                        <h2 class="btl">Approval Details</h2>
                        <p></p>
                    </div>
                    <hr>



                    <div class="property_desc clearfix">
                        <h2 class="btl">Project Gallery</h2>


                        <div id="grid-container" class="cbp-l-grid-projects four">

                            <ul>



                                <li class="cbp-item 0">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="~/Content/assets/images/gallery/tnt_156034.jpg" alt="" />
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">
                                                    <a href="~/Content/assets/images/gallery/tnt_156034.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Key Plan<br>by tn teachers trust">view larger</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="threeborder"><div class="cbp-l-grid-projects-title">Key Plan</div></div>
                                </li>

                                <li class="cbp-item 0">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="~/Content/assets/images/gallery/tnt_145126.png" alt="" />
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">
                                                    <a href="~/Content/assets/images/gallery/tnt_145126.png" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="bus ways<br>by tn teachers trust">view larger</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="threeborder"><div class="cbp-l-grid-projects-title">bus ways</div></div>
                                </li>

                                <li class="cbp-item 0">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="~/Content/assets/images/gallery/tnt_876224.jpg" alt="" />
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">
                                                    <a href="~/Content/assets/images/gallery/tnt_876224.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Floor Plan - 1<br>by tn teachers trust">view larger</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="threeborder"><div class="cbp-l-grid-projects-title">Floor Plan - 1</div></div>
                                </li>

                                <li class="cbp-item 0">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="~/Content/assets/images/gallery/tnt_794360.jpg" alt="" />
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">
                                                    <a href="~/Content/assets/images/gallery/tnt_794360.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Floor Plan - 2<br>by tn teachers trust">view larger</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="threeborder"><div class="cbp-l-grid-projects-title">Floor Plan - 2</div></div>
                                </li>

                                <li class="cbp-item 0">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="~/Content/assets/images/gallery/tnt_199741.jpg" alt="" />
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">
                                                    <a href="~/Content/assets/images/gallery/tnt_199741.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Floor Plan - 3<br>by tn teachers trust">view larger</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="threeborder"><div class="cbp-l-grid-projects-title">Floor Plan - 3</div></div>
                                </li>

                                <li class="cbp-item 0">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="~/Content/assets/images/gallery/tnt_114371.jpg" alt="" />
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">
                                                    <a href="~/Content/assets/images/gallery/tnt_114371.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Floor Plan - 4<br>by tn teachers trust">view larger</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="threeborder"><div class="cbp-l-grid-projects-title">Floor Plan - 4</div></div>
                                </li>

                                <li class="cbp-item 0">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="~/Content/assets/images/gallery/tnt_198732.jpg" alt="" />
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">
                                                    <a href="~/Content/assets/images/gallery/tnt_198732.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Floor Plan - 5<br>by tn teachers trust">view larger</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="threeborder"><div class="cbp-l-grid-projects-title">Floor Plan - 5</div></div>
                                </li>

                                <li class="cbp-item 0">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="~/Content/assets/images/gallery/tnt_888474.jpg" alt="" />
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">
                                                    <a href="~/Content/assets/images/gallery/tnt_888474.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Floor Plan - 6<br>by tn teachers trust">view larger</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="threeborder"><div class="cbp-l-grid-projects-title">Floor Plan - 6</div></div>
                                </li>

                                <li class="cbp-item 0">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="~/Content/assets/images/gallery/tnt_210561.jpg" alt="" />
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">
                                                    <a href="~/Content/assets/images/gallery/tnt_210561.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Floor Plan - 7<br>by tn teachers trust">view larger</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="threeborder"><div class="cbp-l-grid-projects-title">Floor Plan - 7</div></div>
                                </li>

                                <li class="cbp-item 0">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="~/Content/assets/images/gallery/tnt_195702.jpg" alt="" />
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">
                                                    <a href="~/Content/assets/images/gallery/tnt_195702.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Kids Play Area<br>by tn teachers trust">view larger</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="threeborder"><div class="cbp-l-grid-projects-title">Kids Play Area</div></div>
                                </li>

                                <li class="cbp-item 0">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="~/Content/assets/images/gallery/tnt_111884.jpg" alt="" />
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">
                                                    <a href="~/Content/assets/images/gallery/tnt_111884.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="CBSE School<br>by tn teachers trust">view larger</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="threeborder"><div class="cbp-l-grid-projects-title">CBSE School</div></div>
                                </li>

                                <li class="cbp-item 0">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="~/Content/assets/images/gallery/tnt_111017.png" alt="" />
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">
                                                    <a href="~/Content/assets/images/gallery/tnt_111017.png" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Elevation<br>by tn teachers trust">view larger</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="threeborder"><div class="cbp-l-grid-projects-title">Elevation</div></div>
                                </li>

                                <li class="cbp-item 0">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="~/Content/assets/images/gallery/tnt_917746.jpg" alt="" />
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">
                                                    <a href="~/Content/assets/images/gallery/tnt_917746.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Master Plan<br>by tn teachers trust">view larger</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="threeborder"><div class="cbp-l-grid-projects-title">Master Plan</div></div>
                                </li>
                            </ul>
                        </div>
                        <div class="cbp-l-loadMore-text">
                            <div data-href="#" class="cbp-l-loadMore-text-link"></div>
                        </div>
                    </div>





                </div>
            </div>

            <div id="right_sidebar" class="col-lg-3 col-md-4 col-sm4 col-xs-12 clearfix" style="padding-top:20px;">
                <div class="widget clearfix">
                    <a href="@Url.Action("apply_for_allotment","Project",new { productname= "Teachers-Sri-Rajarajeshwari-Flats-villas-illupur-Near-Tirchy", id = "53" })">
                        <button class="button_yellow fbtn"> Apply Now</button>
                    </a>
                </div>
                <div class="widget clearfix">
                    <span class="type first" style="display:none;"><strong>Id : </strong><a href="#">#TNT053</a></span>
                    <span class="type first"><strong>Available Type : </strong> Apartments |  Villas</span>
                    <span class="type first" style="display:none;">
                        <strong>Available From : </strong>
                        2015
                    </span>
                    <span class="type first">
                        <strong><i class="icon-sqft"></i> Cover Area : </strong>
                        40 Acres
                    </span>
                    <span class="type first">
                        <strong><i class="icon-sqft"></i> Available Units : </strong>
                        0
                    </span>

                    <span class="sqft">
                        <strong>Facing : </strong>
                        Undefined |
                    </span>
                </div>

                <div class="widget clearfix">
                    <h3 class="big_title">Property Map</h3>
                    <div class="map">
                        <div id="map">
                            <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script><div style="overflow:hidden;height:220px;width:230px;"><div id="gmap_canvas" style="height:220px;width:230px;"></div>
                            <style>
                                #gmap_canvas img {
                                    max-width: none !important;
                                    background: none !important;
                                }
                            </style></div>
                            <script type="text/javascript"> function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(10.518169,78.622969),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(10.518169, 78.622969)});infowindow = new google.maps.InfoWindow({content:"<b>Teachers Sri Rajarajeshwari Township - Housing (Flats & Villas)</b><br>Project Location:Tirchy Viralimalai-illupur-Pudukkottai Road,Illuppur Village, Pudukkottai Dt" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});}google.maps.event.addDomListener(window, 'load', init_map);</script>
                        </div>
                    </div>
                    <p><a href="@Url.Action("map_rajeshwari_town_ship","Project")" target="_blank" style="background:#333; color:#fff; border-radius:5px; padding:10px;">Show Map Larger</a></p>
                </div>

            </div><!-- #left_sidebar -->
        </div>


    </div>
</div><!-- end content area -->

@section projectdescScripts
{
<script src="~/Content/assets/js/jquery.flexslider.js"></script>
<script>
        $(window).load(function() {
            $('#slider').flexslider({
                animation: "fade",
                controlNav: false,
                animationLoop: false,
                slideshow: true,
                sync: "#carousel"
            });
        });
</script>

<!-- scroll up -->
<script src="~/Content/assets/js/scrolltotop/totop.js" type="text/javascript"></script>

<!-- cubeportfolio -->
<script type="text/javascript" src="~/Content/assets/js/cubeportfolio/jquery.cubeportfolio.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/cubeportfolio/main.js"></script>

    S

<!-- lightbox -->
<script type="text/javascript" src="~/Content/assets/js/lightbox/jquery.fancybox.js"></script>
<script type="text/javascript" src="~/Content/assets/js/lightbox/custom.js"></script>



}
